# ignore all
*

# allow git files
!.gitignore

# allow html presentation
!index.html

# allow the assets folder and everything inside
!index_assets/
!index_assets/**

# allow documentation and license
!README.md
!LICENSE
